body{
    background-color: rgba(0, 0, 0, 0.925);
    color: rgb(255, 255, 255);
}
.header {
    background-color: #242323;
    padding: 5px;
    width: auto;
    height: auto;
    text-align: center;
}
.column_left {
    background-color: rgb(31, 31, 31);
    float: left;
    width: 200px;
    padding: 15px;
}
  .column_right {
    background-color: rgb(251, 144, 5);
    float: right;
    width: 200px;
    padding: 15px;
}