body{margin: 10px;}

header{
    border: solid;
    border-radius: 1px;
    border-color: black;
    width: 100%;
    height:auto;
}

#contener{
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    border: solid;
    border-radius: 1px;
    border-color: black;
}

#columnagora{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rowy{
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: 1px;
    border-color: black;
    justify-content: center;
}