body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #f0f0f0;
    padding: 0 20px;
}

nav img {
    height: 50px;
    width: 50px;
    margin-right: 25px;
}

nav a {
    margin: 0 15px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 0 10px; 
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#srodek {
    width: 80%;
}

#Banner {
    height: 350px;
    width: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#podbanner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contener {
    width: 30%;
    display: flex;
    border: 1px solid blue;
}

.zdjeciepb {
    width: 30%;
    background-color: red;
}

.napis {
    width: 70%;
    padding: 10px;
}

#tojeszczepod {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.toten {
    width: 48%;
    padding: 10px;
    border: 1px solid blue;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
