table, th, td{
    border: 1px solid black;
}
.z{
    background-color: yellow;
}
.p:hover{
    background-color: gray;
}
body{
    background-color: whitesmoke;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      
    }
    .przy{
        display: block;
    }
  }
.table{
    position: relative;  
}
.przy{
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}