table, th, td{
    border: 1px solid black;
}
.z{
    background-color: yellow;
}
.p:hover{
    background-color: gray;
}
body{
    background-color: whitesmoke;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      
    }
    .przy {
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px
    }

    .przy button {
        display: block;
        margin: 5px;
    }
  }
.table{
    position: relative;  
}
.przy{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
}